{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block nav %} {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour</h1>
    <p>Que voulez vous faire?</p>
    <ul>
        <li>
            <a href=" {{ path('stagiaire_index')}} ">S'occuper des stagiaires</a>
        </li>
        <li>
            <a href=" {{ path('session_index')}} ">S'occuper des sessions</a>
        </li>
        <li>
            <a href="https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FGEO.2F2019.2F09.2F20.2Fe24d559e-e68a-4e49-a33d-e42109a231f4.2Epng/968x600/quality/65/pour-les-lions-c-est-14-heures-de-sommeil-quotidien.jpg">Sinon viens vazy on se recouche c'est bien aussi</a>
        </li>
        <li>
            <a href="https://i.kym-cdn.com/photos/images/masonry/000/008/838/The_Konami_Code_by_lifeinajadedmirror20110724-22047-1xie3lj.gif">.</a>
        </li>
    </ul>
</div>
{% endblock %}
