{% extends 'base.html.twig' %}

{% block title %}Edit Blocmodule{% endblock %}

{% block body %}
    <h1>Edit Blocmodule</h1>

    {{ include('blocmodule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blocmodule_index') }}">back to list</a>

    {{ include('blocmodule/_delete_form.html.twig') }}
{% endblock %}
